<body>
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2 class="title">Create Vacancy</h2>
            <!-- (ngSubmit)="update()" -->
            <form class="form-horizontal" #personForm="ngForm">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Main Info</h3>
                <div class="form-group">
                  <label for="position" class="col-md-2 col-sm-3 col-xs-12 control-label">Posistion</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z0-9]{3,40}$" [(ngModel)]="vacancy.position"
                      placeholder="Input position" id="position" name="position" #position="ngModel" required
                      autocomplete="off">
                    <div *ngIf="position.errors && (position.dirty || position.touched)" class="alert alert-danger">
                      <div [hidden]="!position.errors.required">Position is required!</div>
                      <div [hidden]="!position.errors.pattern">
                        Position can only contain letters and numbers (3-40 characters)!
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="employment" class="col-md-2 col-sm-3 col-xs-12 control-label">Employment</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                           <select class='form-control' [(ngModel)]="vacancy.employment" (change)="changingValue($event)" name="sel3"  id="employment" name="employment" required
                           autocomplete="off" > 
                            <option [ngValue]="i" *ngFor="let i of employment" >{{i}}</option>
                        </select> 
                  </div>
                </div>

                <div class="form-group">
                  <label for="salary" class="col-md-2 col-sm-3 col-xs-12 control-label">Salary</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[0-9]{3,11}$" [(ngModel)]="vacancy.salary"
                      placeholder="Input salary" id="salary" name="salary" #salary="ngModel" 
                      autocomplete="off">
                    <div *ngIf="salary.errors && (salary.dirty || salary.touched)" class="alert alert-danger">
                      <div [hidden]="!salary.errors.required">Salary is required!</div>
                      <div [hidden]="!salary.errors.pattern">
                       Salary can only contain numbers (3-11 digits)!
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>  <br>
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Requirements Info</h3>
                <div class="form-group">
                    <div class="col-md-10 col-sm-9 col-xs-12" *ngFor="let item of vacancy.requirements;let index = index;">
                     <label for="description" class="col-md-2 col-sm-3 col-xs-12 control-label">Requirement:{{index+1}}</label>
                     <input type="text" class="form-control" name="description" [(ngModel)]="item.description"  
                        placeholder="Input requirement" maxlength="100" id="description" #description="ngModel"
                          autocomplete="off">
                    
                  </div>
                  <td>
                    <div class="addRequirement">
                        <div *ngIf ="vacancy.vacancyId != null">
                          <button class="btn btn-success" type="button" hidden (click)="addFieldValue()">Add new requirement</button>
                        </div>
                        <div *ngIf ="vacancy.vacancyId == null">
                         <button class="btn btn-success" type="button" (click)="addFieldValue()">Add new requirement</button>
                       </div>
                    </div>
                  </td>

                </div>
              
              </fieldset> <br>

              <fieldset class="fieldset">
                <h3 class="fieldset-title">Action</h3>

                <div class="form-group">
                  <div *ngIf="vacancy.vacancyId == null">
                    <button class="btn btn-primary" style="margin-top: 20px" type="submit" [disabled]="!personForm.form.valid"
                        (click)="create()">Create</button>
                  </div>
                   <div *ngIf="vacancy.vacancyId != null">
                    <button class="btn btn-success" (click)="update()" [disabled]="!personForm.form.valid">Update</button>
                  </div>
                  <a class="cancel" routerLink="/vacancies" style="font-size: 17px;margin-left: 20px;margin-top:30px">Cancel</a>
                </div>
              </fieldset>
                
            </form>
          </div>
        </div>  
      </section>
    </div>
  </div>
</body>
