<div class="col-md-12">
  <h2 class="text-center">{{vacancy.vacancyId ? 'Edit' : 'Add'}} Vacancy</h2>
  <div class="myForm">
    <form #vacancyForm="ngForm" (ngSubmit)="create()">
      <div class="form-group col-md-5">
        <input type="hidden" name="id" [(ngModel)]="vacancy.vacancyId">
        <label for="position">Position:</label>
        <input type="text" [(ngModel)]="vacancy.position" placeholder="Input position" minlength="5" maxlength="40"
          class="form-control" id="position" required name="position" #position>
      </div>
      <div class="form-group col-md-5">
        <label for="salary">Salary:</label>
        <input type="number" [(ngModel)]="vacancy.salary" placeholder="Input salary" maxlength="10" class="form-control"
          id="salary" required name="salary" #salary>
      </div>
      <div class="form-group col-md-5">
        <label for="employment">Employment:</label>
        <input type="text" [(ngModel)]="vacancy.employment" placeholder="Input type of employment" minlength="4"
          class="form-control" id="employment" required name="employment" #employment>
      </div>
      <div class="form-group col-md-5" *ngFor="let item of vacancy.requirements">
        <label for="description">Requirement:</label>
        <input type="text" [(ngModel)]="item.description" placeholder="Input requirement" maxlength="100"
          class="form-control" id="description" required name="description" #requirement>
      </div>
      <td>
        <button class="btn btn-success" type="button" (click)="addFieldValue()">Add new requirement</button>
      </td>

      <div class="buttons">
        <button class="btn btn-primary" style="margin-top: 20px" type="submit" [disabled]="!vacancyForm.form.valid">
          Save</button>
        <a class="cancel" routerLink="/vacancies" style="font-size: 17px;margin-left: 20px;margin-top:30px">Cancel</a>
      </div>
    </form>
  </div>
</div>