<body>
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2 class="title">Create Company</h2>
            <form class="form-horizontal" (ngSubmit)="update()" #personForm="ngForm">
              <fieldset class="fieldset">
                <h3 class="fieldset-title">Main Info</h3>
                <div class="form-group">
                  <label for="name" class="col-md-2 col-sm-3 col-xs-12 control-label">Company Name</label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" pattern="^[A-Za-z]{3,20}$" [(ngModel)]="company.name"
                      placeholder="Company Name" id="name" name="name" #name="ngModel" required
                      autocomplete="off">
                    <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                      <div [hidden]="!name.errors.required">Company Name is required!</div>
                      <div [hidden]="!name.errors.pattern">Compnany Name can only contain letters of the alphabet
                        (from 3 to 20 characters).</div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-md-2 col-sm-3 col-xs-12 control-label">EDRPOU</label>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" pattern="^[0-9]{3,20}$" [(ngModel)]="company.edrpou"
                        placeholder="EDRPOU" id="edrpou" name="edrpou" #edrpou="ngModel" required
                        autocomplete="off">
                      <div *ngIf="edrpou.errors && (edrpou.dirty || edrpou.touched)" class="alert alert-danger">
                        <div [hidden]="!edrpou.errors.required">EDRPOU is required!</div>
                        <div [hidden]="!edrpou.errors.pattern">EDRPOU can only contain numbers!</div>
                      </div>
                    </div>
                  </div>
              </fieldset>  

                <!-- <div class="form-group">
                  <label for="erdpou">ERDPOU:</label>
                  <input type="text" [(ngModel)]="company.edrpou" placeholder="ERDPOU" class="form-control" id="erdpou"
                    name="erdpou">
                </div>

                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" [(ngModel)]="company.description" placeholder="Description" class="form-control"
                    id="description" name="description">
                </div>

                <div class="form-group">
                  <label for="website">Website:</label>
                  <input type="text" [(ngModel)]="company.website" placeholder="Website" class="form-control" id="website"
                    name="website">
                </div>

                <div class="form-group">
                  <label for="logo">Logo:</label>
                  <input type="text" [(ngModel)]="company.logo" placeholder="Logo" class="form-control" id="logo" name="logo">
                </div>

                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" [(ngModel)]="company.contacts.email" placeholder="Email" class="form-control" id="email"
                    name="email">
                </div>

                <div class="form-group">
                  <label for="phone">Phone:</label>
                  <input type="text" [(ngModel)]="company.contacts.phoneNumber" placeholder="Phone" class="form-control" id="phone"
                    name="phone">
                </div>

                <div class="form-group">
                  <label for="country">Country:</label>
                  <input type="text" [(ngModel)]="company.address.country" placeholder="Country" class="form-control" id="country"
                    name="country">
                </div>

                <div class="form-group">
                  <label for="city">City:</label>
                  <input type="text" [(ngModel)]="company.address.city" placeholder="City" class="form-control" id="city"
                    name="city">
                </div>

                <div class="form-group">
                  <label for="street">Street:</label>
                  <input type="text" [(ngModel)]="company.address.street" placeholder="Street" class="form-control" id="street"
                    name="street">
                </div>

                <div class="form-group">
                  <label for="building">Building:</label>
                  <input type="text" [(ngModel)]="company.address.building" placeholder="Building" class="form-control"
                    id="building" name="building">
                </div>

                <div class="form-group">
                  <label for="apartment">Apartment:</label>
                  <input type="text" [(ngModel)]="company.address.apartment" placeholder="Apartment" class="form-control"
                    id="apartment" name="apartment">
                </div>

                <div class="form-group">
                  <label for="zipcode">ZipCode:</label>
                  <input type="text" [(ngModel)]="company.address.zipCode" placeholder="ZipCode" class="form-control" id="zipcode"
                    name="zipcode">
                </div>

                <div *ngIf="company.companyId == null">
                  <button class="btn btn-primary" (click)="create()">Create</button>
                </div>
                <div *ngIf="company.companyId != null">
                  <button class="btn btn-success" (click)="update()">Update</button>
                </div> -->
            </form>
          </div>
        </div>  
      </section>
    </div>
  </div>
</body>