<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
  <main class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-md-12">
          <a class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">Toggle Sidebar</a>
          <a class="btn btn-secondary" (click)="toggleBackgroundImage()">Toggle Background Image</a>
        </div>
      </div>
    </div>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>

  <!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
    <!--<div class="navbar-nav">-->
      <!--<a class="nav-item nav-link" routerLink="/">Home</a>-->
      <!--<a class="nav-item nav-link" routerLink="/login">Login</a>-->
      <!--<a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>-->
      <!--<a class="nav-item nav-link" routerLink="/users" *ngIf="isUser">Users</a>-->
      <!--<a class="nav-item nav-link" routerLink="/companies" *ngIf="isCowner || isAdmin">Companies</a>-->
      <!--<a class="nav-item nav-link" routerLink="/searchCV" *ngIf="isCowner || isUser">SearchCV</a>-->
      <!--<a class="nav-item nav-link" (click)="logout()" *ngIf="isAdmin || isCowner || isUser">Logout</a>-->
    <!--</div>-->
  <!--</nav>-->

  <div style="text-align:center"class="container">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
