<form role="form" (submit)="restorePassword">
  <div class="form-group w-50">
    <label for="newPassword">New password:</label> <input type="password"
                                                           class="form-control" id="newPassword" name="newPassword" [(ngModel)]="restorePassword.newPassword"/>
  </div>
  <div class="form-group w-50">
    <label for="confirmPassword">Confirm password:</label> <input type="password"
                                                   class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="restorePassword.confirmPassword"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
