 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vacancy</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>
 <body>

    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">RabotyNet</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">
            <div class="masthead">
              <h3 class="text-muted">Vacancies</h3>
              </div>
                <div class="row" >
                    <div class="col-lg-4" *ngFor="let vacancy of vacancies | paginate: { itemsPerPage: 3, currentPage: p }">
                      <h2>{{vacancy.position}}</h2>
                      <p>{{vacancy.employment}}</p>
                      <td>
                        <li *ngFor="let requirement of vacancy.requirements | slice:0:1;">{{requirement.description}}</li>
                      </td> 
                      <p><a class="btn btn-primary" role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}">View details &raquo;</a></p>
                    </div>
               </div>
               <button class="btn btn-success" [routerLink]="['/createVacancy']">Add new vacancy</button>
               <div class="pagin">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
    <hr>
    </body>
    </html>

