 <body style="margin-left: 280px; ">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Vacancies</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="d-none">Id</th>
          <th>Position</th>
          <th>Employment</th>
          <th>Salary</th>
          <th>Requirements</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacancy of vacancies">
          <td class="d-none">{{vacancy.vacancyId}}</td>
          <td>{{vacancy.position}}</td>
          <td>{{vacancy.employment}}</td>
          <td>{{vacancy.salary}}</td>
          <td>
            <li *ngFor="let requirement of vacancy.requirements">{{requirement.description}}</li>
          </td>
          <td>
            <a routerLink="/updateVacancy/{{vacancy.vacancyId}}" class="btn btn-success">Update</a>
            <button class="btn btn-danger" (click)="deleteById(vacancy.vacancyId)">Delete Vacancy</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" [routerLink]="['/createVacancy']">Add</button>
    
  </div>
</div>
</body> 

