.search-result{
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
}

.page{
  float: left;
  padding: 10px;

}

.resultOnPage{
  float: right;
  padding-top: 50px;
}

.page .btn {
  margin: 10px;
}

.searchContainer{
  padding-top: 70px;
  padding-left: 300px;
  padding-right: 300px;
}

.resultOnPage{
  float: right;
}
