#searchMenu {
  position: fixed;
  width: 250px;
  height: 400px;
  top: 90px;
  right: 10px;
  border-radius: 7px;
  background-color: rgba(0,0,0,0.8);
}

.search-form{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
}

.select-control{
  font-size: 18px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

#startButton{
  margin-top: 5px;
  margin-bottom: 5px;
}

#hideButton{
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main{
  margin-top: 100px;
  padding-right: 270px;
  padding-left: 270px;
  padding-bottom: 70px;
}

.page {
  float: left;
}

.resultOnPage{
  float: right;
}

.page .btn {
  margin: 10px;
}
