<label class="resultOnPage">
  <select [(ngModel)]="searchCv.resultsOnPage" (change)="startSearch()" name="searchParameter" class="form-control">
    <option [defaultSelected]="searchCv.resultsOnPage" value=10>Results on page: 10</option>
    <option value=20>Results on page: 20</option>
    <option value=50>Results on page: 50</option>
  </select>
</label>

<div class="search-result">
  <form>
    <label>
      <input type="text" [(ngModel)]="searchCv.searchText" placeholder="Search.." name="searchText"
             class="form-control">
    </label>

    <label>
      <select [(ngModel)]="searchCv.searchParameter" name="searchParameter" class="form-control">
        <option [defaultSelected]="searchCv.searchParameter" value="name">by name</option>
        <option value="skill">by skill</option>
        <option value="phoneNumber">by phone</option>
        <option value="city">by city</option>
      </select>
    </label>

    <br>
    <button class="btn btn-success" (click)="startSearch()">Start CV search</button>
  </form>
  <br><br>

  <div class="col-md-12">
    <h2>Search result</h2>

    <h3>{{searchCVResponse.count}} Cvs founded</h3>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="d-none">Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>City</th>
        <th>Phone</th>
        <th>E-mail</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let searchCVResult of searchCVResponse.searchCVDTOs">
        <td class="d-none">{{searchCVResult.id}}</td>
        <td>{{searchCVResult.firstName}}</td>
        <td>{{searchCVResult.lastName}}</td>
        <td>{{searchCVResult.age}} years old</td>
        <td>{{searchCVResult.position}}</td>
        <td>{{searchCVResult.city}}</td>
        <td>{{searchCVResult.phoneNumber}}</td>
        <td>{{searchCVResult.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="nextPage">
  <button class="btn btn-success" (click)="nextPage()">Next page</button>
</div>
