<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vacancies</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">RabotyNet</a>
  <a class="navbar-brand" routerLink="/admin" *ngIf="isAdmin">Admin</a>
  <a class="navbar-brand" routerLink="/companies" *ngIf="isAdmin || isCowner">Company owner</a>
  <a class="navbar-brand" routerLink="/users" *ngIf="isUser">User</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <label class="navbar-brand">Search in:
        <select [(ngModel)]="search.searchDocument" (change)="searchCVPage()" name="searchDocument" class="form-control">
          <option [defaultSelected]="search.searchDocument" value="cvs">summaries</option>
          <option value="vacancies">vacancies</option>
        </select>
      </label>
      <label class="navbar-brand">Search vacancies by:
        <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">
          <option [defaultSelected]="search.searchParameter" value="company">company</option>
          <option value="city">city</option>
          <option value="position">position</option>
        </select>
      </label>
      <input type="text" [(ngModel)]="search.searchText" placeholder="Search.." name="searchText" class="form-control mr-sm-2">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="startSearch()">Search</button>
      <button class="fa fa-sign-out" style="margin-left: 20px;font-size:36px;color: blue" (click)="logout()" *ngIf="currentUser"></button>
    </form>
  </div>
</nav>

<div class="searchContainer" [hidden]="resultText">

  <div class="resultOnPage">
    <label>Results on page:
      <select [(ngModel)]="search.resultsOnPage" (change)="startSearch()" name="searchParameter" class="form-control">
        <option [defaultSelected]="search.resultsOnPage" value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </label><br>
  </div>

  <div>
    <h2>Search result</h2>
    <h5>{{searchVacancyResponse.count}} Vacancies founded</h5>
    <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
  </div>

  <div class="page" [hidden]="resultText">
    <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
    <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="d-none">Id</th>
      <th>Position</th>
      <th>Company</th>
      <th>City</th>
      <th>Employment</th>
      <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let searchVacancyResult of searchVacancyResponse.searchVacancyDTOS">
      <td class="d-none">{{searchVacancyResult.vacancyId}}</td>
      <td>{{searchVacancyResult.position}}</td>
      <td>{{searchVacancyResult.companyName}}</td>
      <td>{{searchVacancyResult.city}}</td>
      <td>{{searchVacancyResult.employment}}</td>
      <td>{{searchVacancyResult.salary}} usd</td>
    </tr>
    </tbody>
  </table>
  <div class="page" [hidden]="resultText">
    <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
    <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
    <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
  </div>
</div>

</body>
</html>


