<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<app-search  (findVacancies)="findVacancies($event)"></app-search>
<div class="searchContainer">
<!--  <form class="search-form">-->
<!--    <label class="select-control" *ngIf="isCowner">Search</label>-->
<!--    <select [(ngModel)]="search.searchDocument" (change)="searchCVPage()" name="searchDocument"-->
<!--            class="form-control" *ngIf="isCowner">-->
<!--      <option [defaultSelected]="search.searchDocument" value="vacancies">vacancies</option>-->
<!--      <option value="resume">resume</option>-->
<!--    </select>-->
<!--    <label class="select-control">Search vacancies by:</label>-->
<!--    <select [(ngModel)]="search.searchParameter" name="searchParameter" class="form-control">-->
<!--      <option [defaultSelected]="search.searchParameter" value="position">position</option>-->
<!--      <option value="city">city</option>-->
<!--      <option value="company">company</option>-->
<!--    </select>-->
<!--    <input type="text" [(ngModel)]="search.searchText" placeholder="Search.." name="searchText" class="form-control">-->
<!--    <button class="btn btn-info" (click)="startSearch()">Start search</button>-->
<!--  </form>-->

  <div class="resultOnPage" [hidden]="resultText">
    <label>Results on page:
      <select [(ngModel)]="search.resultsOnPage" (change)="startSearch()" name="searchParameter" class="form-control">
        <option [defaultSelected]="search.resultsOnPage" value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </label><br>
  </div>

  <div class="search-result" [hidden]="resultText">
    <h2>Search result</h2>
    <h5>{{searchVacancyResponse.count}} Vacancies founded</h5>
    <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
  </div>

  <div class="page" [hidden]="topButtons">
    <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
    <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
  </div>

  <table class="table table-striped" [hidden]="resultText">
    <thead>
    <tr>
      <th class="d-none">Id</th>
      <th>Position</th>
      <th>Company</th>
      <th>City</th>
      <th>Employment</th>
      <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let searchVacancyResult of searchVacancyResponse.searchVacancyDTOS">
      <td class="d-none">{{searchVacancyResult.vacancyId}}</td>
      <td>{{searchVacancyResult.position}}</td>
      <td>{{searchVacancyResult.companyName}}</td>
      <td>{{searchVacancyResult.city}}</td>
      <td>{{searchVacancyResult.employment}}</td>
      <td>{{searchVacancyResult.salary}} usd</td>
      <td><a class="btn btn-info" style="left: 0; vertical-align: bottom"
             role="button" routerLink="/viewVacancy/{{searchVacancyResult.vacancyId}}">View details &raquo;</a></td>
    </tr>
    </tbody>
  </table>
  <div class="page" [hidden]="bottomButtons">
    <h5>Page {{pageNumber}} of {{pagesCount}}</h5>
    <button class="btn btn-info" [disabled]="previousButton" (click)="previousPage()">&laquo; Previous</button>
    <button class="btn btn-info" [disabled]="nextButton" (click)="nextPage()">Next &raquo;</button>
  </div>
</div>
</body>

