<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vacancy</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container" style="margin-top:70px">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2>List resumes</h2>
            <br>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th class="d-none">Id</th>
                  <th>First Name</th>
                  <th>Second Name</th>
                  <th>Phone number</th>
                  <th>Mail</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let resume of resumes">
                <tr *ngIf="status=='NEW'" style="background: white">
                  <td class="d-none">{{resume.cvId}}</td>
                  <td>{{resume.person.firstName}}</td>
                  <td>{{resume.person.lastName}}</td>
                  <td>{{resume.person.contact.phoneNumber}}</td>
                  <td>{{resume.person.contact.email}}</td>
                  <td>
                    <a (click)="showPdf(resume)" class="btn" rel="tooltip" title="View resume"><i
                        class="fa fa-eye"></i></a>
                    <a class="btn" (click)="changeStatus()" rel="tooltip"
                      title="Show"><i class="fa fa-send"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
