<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <div class="container">
    <div class="view-account">
      <section class="module">
        <div class="module-inner">
          <div class="content-panel">
            <h2> 
                <i *ngIf="isApproved() && isReliable() && !hasClaims()" class="fa fa-thumbs-up" style="color: green;"></i>
                <i *ngIf="isApproved() && hasClaims()" class="fa fa-warning" style="color: orange;"></i>
                <i *ngIf="!isApproved()" class="fa fa-times" style="color: red;"></i>
                <i *ngIf="isApproved() && !isReliable()" class="fa fa-thumbs-down" style="color: red"></i>
              {{company.name}}</h2>
              <img src="assets/img/company.png" alt="Company logo" height="150" style="float: left">
              
              <p>{{company.description}}</p>

              <h4 class="fieldset-title"></h4>
              <div class="row">
              <div class="col-md-5">
              <h4>Contacts</h4>
              <div class="col-md-13">
                Email: {{company.contact.email}}</div>
              <br>
              <div class="col-md-13">
                Phone Number: {{company.contact.phoneNumber}}</div>
              </div>

              <div class="col-md-7">
              <h4>Address</h4>
              <div class="row">
                <div class="col-md-4">
                  Country: {{company.address.country}}</div>
                <div class="col-md-4">
                  City: {{company.address.city}}</div>
                <div class="col-md-4" *ngIf="company.address.zipCode != null && company.address.zipCode != ''">
                  ZipCode: {{company.address.zipCode}}</div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4" *ngIf="company.address.street != null && company.address.street != ''">
                  Street: {{company.address.street}}</div>
                <div class="col-md-4" *ngIf="company.address.building != null && company.address.building != ''">
                  Building: {{company.address.building}}</div>
                <div class="col-md-4" *ngIf="company.address.apartment != null && company.address.apartment != ''">
                  Apartment: {{company.address.apartment}}</div>   
              </div> 
              </div>
              </div>

              <br>
              <button *ngIf="claiming == false" class="btn btn-warning" (click)="claiming = true;">Claim</button>
              <div *ngIf="claiming == true">
                <form class="form-horizontal" (ngSubmit)="createClaim()" #claimForm="ngForm">
                  <fieldset class="fieldset">
                    <h4 class="fieldset-title">Make a claim</h4>
                    <div class="form-group">
                      <label for="title" class="col-md-2 col-sm-3 col-xs-12 control-label">Title</label>
                      <div class="col-md-10 col-sm-9 col-xs-12">
                        <select id="title" name="title" class="form-control" required [(ngModel)]="claim.title"
                          #title="ngModel">
                          <option value="None" selected>None</option>
                        </select>
                        <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
                          <div [hidden]="!title.errors.required">Title is required!</div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="description" class="col-md-2 col-sm-3 col-xs-12 control-label">Description</label>
                      <div class="col-md-10 col-sm-9 col-xs-12">
                        <textarea class="form-control" pattern="^[\s\S]{0,500}$" [(ngModel)]="claim.description"
                          placeholder="Description" id="description" name="description" #description="ngModel"
                          autocomplete="off" style="resize: none" rows="5" required> 
                        </textarea>
                        <div *ngIf="description.errors && (description.dirty || description.touched)" class="alert alert-danger">
                          <div [hidden]="!description.errors.pattern">
                            Description is incorrect (up to 500 characters)!
                          </div>
                          <div [hidden]="!description.errors.required">Description is required!</div>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                  <input type="reset" class="btn btn-default" value="Cancel" (click)="claiming = false;">
                  <input type="submit" class="btn btn-danger" value="Claim" [disabled]="!claimForm.form.valid" 
                    style="margin-left: 30px;">
                </form>
              </div>

              <a class="btn btn-primary" style = "margin: 20px" routerLink="/createVacancy/{{company.companyId}}">Create Vacancy</a>
              

              <h4 class="fieldset-title"></h4>
              <h4>Vacancies</h4>
              <div class="container">
                <div class="row" >
                  <div class="col-lg-6" *ngFor="let vacancy of vacancies">
                    <div class="card">
                      <h2 style="margin-left: 10px;">{{vacancy.position}}</h2>
                      <p style="margin-left: 10px;">{{vacancy.employment}}</p>
                      <td>
                        <li style="margin-left: 10px;" *ngFor="let requirement of vacancy.requirements | slice:0:1;">{{requirement.description}}</li>
                      </td>
                      <div class="row align-items-end" style="height: 100%;margin: 0px;">
                        <p style="margin-bottom:0;"><a class="btn btn-primary" style="left: 0; vertical-align: bottom" role="button" routerLink="/updateVacancy/{{vacancy.vacancyId}}">View details &raquo;</a></p>
                      </div>
                      </div> 
                  </div>
                </div>
                <button *ngIf="canPrev()" class="btn btn-info" (click)="prev();">&laquo; Previous</button>
                <button *ngIf="!canPrev()" disabled class="btn btn-info" (click)="prev();">&laquo; Previous</button>
                <button *ngIf="canNext()" class="btn btn-info" (click)="next();">Next &raquo;</button>
                <button *ngIf="!canNext()" disabled class="btn btn-info" (click)="next();">Next &raquo;</button>
    
              
                    <!-- <div class="pagin">
                      <pagination-controls directionLinks="true"
                      autoHide="true" (pageChange)="p = $event"></pagination-controls>
                  </div>  -->
                </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</body>        
